<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <img src="{{ STATIC_URL }}images\login_background.jpg">
    </div>
    <div class="text">
        <h1>Login</h1>
        {% if CredentialsIncorrect == True %}
            <p>Credentials incorrect. Please enter valid credentials</p>
        {% endif %}
        {% if UsernameIncorrect == True %}
            <p>Username incorrect. Please enter valid username</p>
        {% endif %}
    </div>
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" style="font-style: oblique">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password" style="font-style: oblique">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <br/>
            <button type = "submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</body>
</html>