<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <img src="{{ STATIC_URL }}images/welcome_background.jpg" class="stretch">
        <div class="container">
            <a href="{% url 'login_view_board' %}">
                <button id="loginbutton" type="button" class="btn btn-primary btn-lg">Login</button>
            </a>
            <a href="{% url 'signup_view_board' %}">
            <button id="signupbutton" type="button" class="btn btn-primary btn-lg">Signup</button>
            </a>
        </div>
</body>
</html>