<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/signup.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <img src="{{ STATIC_URL }}images\login_background.jpg">
    </div>
    <div class="text">
        <h1>Signup</h1>
        {% if UserAlreadyExist == True %}
            <p>Username or Email Id already exist</p>
        {% endif %}
    </div>
    <div class="container">
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" style="font-style: oblique">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password" style="font-style: oblique">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="fullname" style="font-style: oblique">Full Name</label>
                <input type="text" class="form-control" id="fullname" name="fullname" required>
            </div>
            <div class="form-group">
                <label for="mailid" style="font-style: oblique">Mail Id</label>
                <input type="email" class="form-control" id="mailid" name="mailid" required>
            </div>
            <div class="form-group">
                <label id="dob_label" for="dob" style="font-style: oblique">Date Of Birth</label>
                <input type="date" class="form-control" id="dob" name="dob" required>
            </div>
            <br/>
                <button type = "submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</body>
</html>